
header {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  
}
.logo {
  padding: 0 20px;
  height: 100%;
  width: 300px;
  background-image: url("./pokemon-logo.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}